.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.videoContainer {
  background-color: #4287f5;
  width: 500px;
  height: 400px;
}